.element__like {
  background-image: url(../../..//images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  width: 22px;
  height: 19px;
  margin-top: 31px;
  padding: 10px;
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.5;
}

.element__like:focus {
  background-image: url(../../..//images/like-active.svg);
}